/* Reset default margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 70px;
  background-color: #2e7d32; /* Green */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

/* Logo */
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Right side buttons */
.nav-right {
  display: flex;
  gap: 15px;
}

/* Button style */
.btn {
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.3); /* white transparent */
  color: white;
  outline: none;
  transition: 0.3s;
}

/* Hover */
.btn:hover {
  background-color: white;
  color: #2e7d32;
}
